<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<!-- 配置PersonFactoryBean 容器在处理该bean的时候并不会返回PersonFactoryBean本身，而是调用该类的getObject()
		方法返回对象
	  -->
	<bean name="person" class="club.zylearn.maven.springdemo.s_demo_factorybean.factorybean.PersonFactoryBean">
		<!-- 如果在此传递属性 则设置的是PersonFactoryBean中定义的属性  -->
	</bean>
	
	<bean name="person1" class="club.zylearn.maven.springdemo.s_demo_factorybean.factory.StaticPersonFactory" 
		 factory-method="getPerson">
		<!-- 如果在此传递属性 则设置的是PersonFactoryBean中定义的属性  -->
	</bean>
	
	<bean name="personFactory" class="club.zylearn.maven.springdemo.s_demo_factorybean.factory.InstancePersonFactory">
		
	</bean>
	
	<bean name="person2" factory-bean="personFactory" factory-method="getPerson">
	</bean>
	
</beans>
