<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean name="person1" class="club.zylearn.maven.springdemo.s_demo1.vo.Person">
		<property name="pid" value="001"></property>
		<property name="name" value="小明"></property>
		<property name="age" value="30"></property>
		<!-- <property name="birthday" value="1990-10-04"></property> -->
		<property name="sal" value="3000.0"></property>
	</bean>
	
	<bean name="person2" class="club.zylearn.maven.springdemo.s_demo1.vo.Person">
		<property name="pid" value="002"></property>
		<property name="name" value="朝阳"></property>
		<property name="age" value="30"></property>
		<!-- <property name="birthday" value="1990-10-20"></property> -->
		<property name="sal" value="6000.0"></property>
	</bean>
	
	<bean name="car1" class="club.zylearn.maven.springdemo.s_demo1.vo.Car">
		<property name="cid" value="1001"></property>
		<property name="cname" value="宝马3系"></property>
		<property name="speed" value="250.0"></property>
		<property name="person" ref="person1"></property>
	</bean>	
	
</beans>
